name: run main.py

on:
  schedule:
    - cron: '*/2 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute py script and capture log
        env:
          GYM_PASSWORD: ${{ secrets.GYM_PASSWORD }}
          GYM_USERNAME: ${{ secrets.GYM_USERNAME }}
        run: |
          python main.py > run.log 2>&1

      - name: upload log artifact
        uses: actions/upload-artifact@v3
        with:
          name: main-log
          path: run.log
          retention-days: 30  # optional: keep logs for 30 days
