name: run main.py

on:
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute py script
        env:
          GYM_PASSWORD: ${{ secrets.GYM_PASSWORD }}
          GYM_USERNAME: ${{ secrets.GYM_USERNAME }}
        run: python -u main.py

      - name: execute py script
        env:
          GYM_PASSWORD: ${{ secrets.GYM_PASSWORD }}
          GYM_USERNAME: ${{ secrets.GYM_USERNAME }}
        run: |
          set -o pipefail
          python -u main.py 2>&1 | tee run.log

      - name: upload log artifact
        uses: actions/upload-artifact@v4
        with:
          name: main-log
          path: run.log
          retention-days: 90
